:root {
  --white: #fff;
  --gray: #92969bb2;
  --light: #f8f9fa;
  --dark: #343a40;
  --danger: #dc3545;
  --success: #28a745;
  --black: black;
  --green: rgb(54, 236, 166);
  --container: 75%;
}

@font-face {
  font-family: "Brutal Type Thin";
  src: local("Brutal Type Thin"), local("Brutal-Type-Thin"),
    url("/Client/fonts/BrutalType-Thin.woff2") format("woff2");
  /* url("BrutalType-Thin.woff") format("woff"),
    url("BrutalType-Thin.ttf") format("truetype"); */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Regular";
  src: local("Brutal Type Regular"), local("Brutal-Type-Regular"),
    url("/Client/fonts/BrutalType.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: local("Brutal Type Medium"), local("Brutal-Type-Medium"),
    url("/Client/fonts/BrutalType-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Bold";
  src: local("Brutal Type Bold"), local("Brutal-Type-Bold"),
    url("/Client/fonts/BrutalType-Bold.woff2") format("woff2");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Light";
  src: local("Brutal Type Extra Light"), local("Brutal-Type-Extra-Light"),
    url("/Client/fonts/BrutalType-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Brutal Type Regular";
  cursor: default;
}

body {
  background: rgb(18, 18, 18);
}

.upper-header {
  background-color: black;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
  padding: 20px 0 20px 0;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  color: #f8f9fac0;
  text-decoration: none;
  margin: 0 10px 0 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

nav a:hover {
  color: #36eca6;
}

.enter-site {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  font-family: "Brutal Type Regular";
}

.log-in-user-ind,
.logo_nick,
.basket {
  position: relative;
  display: flex;
  color: var(--green);
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  width: 140px;
  height: 30px;
  padding: 10px 10px;
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.13) 2px;
  cursor: pointer;
}

.log-in-user-ind img,
.logo_nick img,
.basket img {
  width: 30px;
  height: 30px;
  background-color: var(--green);
  margin-right: 10px;
  cursor: pointer;
}

.log-in-user-ind:hover,
.logo_nick:hover,
.basket:hover {
  background: var(--green);
  color: #050801;
  box-shadow: 0 0 5px var(--green), 0 0 25px var(--green), 0 0 50px var(--green),
    0 0 200px var(--green);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.log-in-user-ind:nth-child(1),
.logo_nick:nth-child(1),
.basket:nth-child(1) {
  filter: hue-rotate(0deg);
}

.log-in-user-ind:nth-child(2),
.logo_nick:nth-child(2),
.basket::nth-child(2) {
  filter: hue-rotate(0deg);
}

.log-in-user-ind span,
.logo_nick span,
.basket span {
  position: absolute;
  display: block;
}

.log-in-user-ind span:nth-child(1),
.logo_nickspan:nth-child(1),
.basketspan:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--green));
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.log-in-user-ind span:nth-child(2),
.logo_nick span:nth-child(2),
.basket span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--green));
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.log-in-user-ind span:nth-child(3),
.logo_nick span:nth-child(3),
.basket span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--green));
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.log-in-user-ind span:nth-child(4),
.logo_nick span:nth-child(4),
.basket span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--green));
  animation: animate4 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.enter-site .fun_user a {
  position: static;
  color: white;
  text-decoration: none;
  transition: none;
  letter-spacing: 0;
  overflow: inherit;
  padding: none;
  border-radius: none;
  border: none;
  cursor: pointer;
}

.lower-header {
  width: var(--container);
  color: #f8f9fa8e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin: 0 auto;
}

.lower-header div {
  width: 600px;
}

.find,
.view,
.add_new_game,
.change_game,
.add_code {
  transition: 0.2s ease-in;
  cursor: pointer;
  text-decoration: none;
  color: #f8f9fa8e;
}

.view,
.add_new_game,
.change_game,
.add_code {
  margin-left: 20px;
}

.find:hover,
.view:hover,
.add_new_game:hover,
.change_game:hover,
.add_code:hover {
  color: #36eca6;
}

.search-wrapper {
  position: relative;
  display: flex;
  width: 300px;
  height: 45px;
  left: 0px;
  top: 0;
  margin-right: 200px;
  border-radius: 25px;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 32px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  outline: none;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.search:hover {
  border-color: #36eca6;
}

.search:focus {
  border-color: #36eca6;
  box-shadow: #36eca6 0 0 10px;
}

.search__magnifier {
  position: absolute;
  background-size: 100%;
  height: 20px;
  width: 20px;
  top: 12px;
  border: none;
  background: no-repeat;
  right: 20px;
}

.main-slider {
  display: flex;
}

.container-slider {
  display: flex;
  justify-content: space-between;
  width: var(--container);
  height: 700px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.13);
}

.main-slide-container {
  position: relative;
  width: 80%;
  height: 100%;
}

.main-slide {
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.information-main-slide {
  position: absolute;
  left: 50px;
  top: 400px;
  width: 300px;
  font-family: "Brutal Type Medium";
  color: white;
  font-size: 18px;
}

.relize {
  font-family: "Brutal Type Light";
  font-size: 15px;
  margin-bottom: 10px;
}

.short-info-main-game {
  margin-bottom: 40px;
  color: var(--gray);
  transition: 0.3s ease-in;
}

.short-info-main-game:hover {
  color: white;
}

.prise-main-game {
  font-family: "Brutal Type Bold";
  font-size: 25px;
  letter-spacing: 3px;
}

li {
  list-style-type: none; /* Убираем маркеры */
  display: flex;
  align-items: center;
  font-family: "Brutal Type Regular";
  color: white;
  transition: 0.3s ease-in;
  cursor: pointer;
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  width: 20%;
}

.main-list li span {
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 20px;
}

.slides {
  width: 100px;
  height: 117px;
  object-fit: cover;
  margin-left: 20px;
}

ul li .slides:last-child {
  margin-top: 1px;
}

.main-list li:hover {
  background-color: #36eca652;
}

.new-games,
.top-games,
.top-week-game,
.discount-games,
.free-test,
.preproduces,
.best-online-games {
  position: relative;
  width: var(--container);
  margin: 0 auto;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

.container-new-games,
.container-top-games,
.container-discount-games,
.container-preproduce-games,
.container-best-online-games {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.items-new-games,
.items-top-games,
.items-discount-games,
.items-preproduce-games,
.items-best-online-games {
  width: 18%;
  height: 500px;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slider-popcity {
  opacity: 0;
}

.items-preproduce-games {
  width: 22%;
  height: 570px;
}

.items-new-games img,
.items-top-games img,
.items-discount-games img,
.items-preproduce-games img,
.items-best-online-games img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.items-new-games img:hover,
.items-top-games img:hover,
.items-discount-games img:hover,
.items-preproduce-games img:hover,
.items-best-online-games img:hover {
  filter: brightness(50%);
  box-shadow: var(--green) 0 0 20px;
}

.new-prev,
.new-next {
  position: absolute;
  top: 35%;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-size: 50px;
  font-weight: 700;
}

.new-prev {
  left: -20px;
}

.new-next {
  right: -20px;
}

.new-prev:hover,
.new-next:hover {
  color: var(--green);
  opacity: 0.7;
}

.new-prev:active,
.new-next:active {
  color: var(--green);
  opacity: 1;
}

.new-game-name,
.new-game-developer,
.discount-game-developer,
.preproduce-game-developer,
.best-online-game-developer {
  font-family: "Brutal Type Light";
}

.new-game-name,
.top-game-name,
.discount-game-name,
.preproduce-game-name,
.best-online-game-name {
  margin-top: 20px;
}

.new-game-developer,
.top-game-developer,
.discount-game-developer,
.preproduce-game-developer,
.best-online-game-developer {
  color: #92969bcb;
  margin-top: 5px;
}

.new-game-prise,
.preproduce-game-prise,
.top-game-prise,
.best-online-game-prise {
  margin-top: 10px;
  font-family: "Brutal Type Regular";
}

.popular-games {
  width: var(--container);
  display: block;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
}

.popular-title {
  display: flex;
  align-items: center;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
}

.popular-title img {
  margin-top: -5px;
}

.new-wind {
  display: block;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.new-games span,
.top-games span,
.discount-games span,
.preproduces span,
.best-online-games span {
  font-family: "Brutal Type Bold";
  font-size: 25px;
}

.new-games .new-prev,
.new-games .new-next,
.discount-games .new-prev,
.discount-games .new-next,
.preproduces .new-prev,
.preproduces .new-next,
.best-online-games .new-prev,
.best-online-games .new-next {
  font-family: "Brutal Type Regular";
  font-size: 50px;
}

.popular-games span {
  font-family: "Brutal Type Bold";
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.popular-title img {
  filter: invert(1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 587px;
  width: 100%;
  grid-gap: 10px;
}

.first-popular-item {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-bottom-left-radius: 5px;
}
.second-popular-item {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}
.third-popular-item {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.forth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.fivth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.sixth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  border-bottom-right-radius: 5px;
}

.grid-container img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.first-popular-item img {
  height: 593px;
  border-bottom-left-radius: 10px;
}

.second-popular-item img,
.third-popular-item img,
.forth-popular-item img,
.fivth-popular-item img {
  height: 290px;
}

.sixth-popular-item img {
  height: 290px;
  border-bottom-right-radius: 10px;
}

.grid-container img:hover {
  filter: brightness(60%);
  box-shadow: var(--green) 0 0 10px;
}

.items-top-games {
  width: 32%;
  height: 350px;
}

.container-top-games {
  justify-content: space-between;
}

.top-games {
  margin-top: 40px;
}

.upper-section-top-games {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.upper-section-top-games div,
.button {
  display: flex;
  border: solid rgba(255, 255, 255, 0.3) 2px;
  color: rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.upper-section-top-games div:hover {
  color: var(--green);
  border: solid var(--green) 2px;
  box-shadow: var(--green) 0 0 5px;
}

.top-week-game,
.free-test {
  margin-top: 40px;
}

.top-week-game img,
.free-test img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}

.inormatio-top-week-game,
.inormatio-free-test-game {
  position: absolute;
  left: 100px;
  top: 350px;
  width: 300px;
}

.title-top-week-game,
.title-free-test-game {
  font-family: "Brutal Type Bold";
  font-size: 30px;
}

.name-top-week-game,
.name-free-test-game {
  font-family: "Brutal Type Bold";
  font-size: 30px;
  margin-bottom: 20px;
  color: orange;
}

.name-free-test-game {
  color: rgb(0, 140, 255);
}

.short-inormatio-top-week-game,
.short-information-free-test-game {
  font-size: 25px;
}

.prise-top-week-game {
  margin-top: 30px;
  font-family: "Brutal Type Bold";
  letter-spacing: 2px;
  font-size: 30px;
}

.full-butt {
  border: none;
  color: black;
  width: 200px;
  margin-top: 15px;
  transition: 0.1s ease-in;
  font-weight: 500;
  font-size: 20px;
}

.orange {
  background-color: orange;
}

.orange:hover {
  box-shadow: orange 0 0 15px;
}

.blue {
  background-color: rgb(0, 140, 255);
}

.blue:hover {
  box-shadow: rgb(0, 140, 255) 0 0 15px;
}

.red {
  background-color: red;
}

.red:hover {
  box-shadow: red 0 0 15px;
}

.lern-more-butt {
  margin-top: 60px;
}

.discount-games {
  margin-top: 40px;
}

.discount-information {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Brutal Type Bold";
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 20%;
  background-color: var(--green);
  color: black;
}

.befor-discount-game-prise {
  color: rgba(255, 255, 255, 0.15);
  text-decoration: line-through;
  letter-spacing: 1px;
  font-size: 25px;
}

.after-discount-game-prise {
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
}

.preproduces {
  margin-top: 40px;
}

.best-online-game {
  margin-top: 20px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer a {
  display: flex;
  border: solid var(--green) 2px;
  border-radius: 50%;
  background-color: #36eca680;
  align-items: center;
  transition: 0.3s ease-in;
  cursor: pointer;
  margin: 10px 5px 10px 5px;
}

footer a img {
  cursor: pointer;
}

footer a:last-child {
  margin-right: 30px;
}

footer a:hover {
  background-color: var(--green);
}

.disp_none {
  display: none;
}

.cont_user {
  position: relative;
}

.fun_user {
  display: none;
  width: 160px;
  position: absolute;
  top: 27px;
  left: 37px;
  background-color: black;
  z-index: 999;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--green);
  border-left: 1px solid var(--green);
  border-right: 1px solid var(--green);
  opacity: 0;
  transition: all 0.4s ease;
}

.activ_user_fun {
  display: block;
  opacity: 1;
}

.fun_user div,
.fun_user a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  cursor: pointer;
}

.fun_user div span,
.fun_user a span {
  cursor: pointer;
}

.activ_user {
  background: var(--green);
  color: #050801 !important;
  box-shadow: 0 0 5px var(--green), 0 0 25px var(--green), 0 0 50px var(--green),
    0 0 200px var(--green);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
